<div class="price-box">
  {% if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price and settings.product_show_compare_at_price != false %}
  <p class="special-price"><span class="price" {% if page %}id="productPrice"{% endif %}>{{ product.selected_or_first_available_variant.price | money }}</span></p>
  <p class="old-price"><span class="price" {% if page %} id="comparePrice"{% endif %}>{{ product.selected_or_first_available_variant.compare_at_price | money }}</span></p>
  {% else %}
  <p class="regular-price"><span class="price" {% if page %} id="productPrice"{% endif %}>{{ product.selected_or_first_available_variant.price | money }}</span></p>
  <p class="old-price"><span class="price" {% if page %} id="comparePrice"{% endif %}></span></p>
{% endif %}
</div>