{% comment %}
  }}<section class="Section Section--spacingNormal" id="section-{{ section.id }}">
    <div class="Container">
      {%- if section.settings.subheading != blank or section.settings.title != blank -%}
        <header class="SectionHeader SectionHeader--center">
          {%- if section.settings.subheading != blank -%}
            <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
          {%- endif -%}

          {%- if section.settings.title != blank -%}
            <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
          {%- endif -%}
        </header>
      {%- endif -%}

      <div class="Liquid">
        {{ section.settings.liquid }}
      </div>
    </div>
  </section>

  {% schema %}
  {
    "name": "Custom Liquid",
    "class": "shopify-section--bordered",
    "settings": [
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub-heading",
        "default": "Sub-heading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Your Liquid"
      },
      {
        "type": "liquid",
        "id": "liquid",
        "label": "Liquid",
        "info": "Add app snippets or other Liquid code to create advanced customizations.",
        "default": "<p>Write your own custom Liquid content.</p>"
      }
    ],
    "presets": [
      {
        "category": "Advanced",
        "name": "Custom Liquid",
        "settings": {}
      }
    ]
  }
  {% endschema %}
{% endcomment %}
<div class="container">
  <div class="row aos-init aos-animate" data-aos="fade-up-right">
    <div class="col col-sm-12 col-xs-12 col-md-6">
      <div class="containerr">
        <form class="toggle">
          <input type="radio" id="choice1" name="choice" value="Interior">
          <label for="choice1">In-house</label>

          <input type="radio" id="choice2" name="choice" value="exterior">
          <label for="choice2">External</label>

          <div id="flap"><span class="content">productive</span></div>
        </form>
      </div>
    </div>
    <div class="col col-sm-12 col-xs-12 col-md-6">
      <div class="containerr">
        <form class="toggle1">
          <input type="radio" id="choice3" name="choice" value="air">
          <label for="choice3">Air-heat</label>

          <input type="radio" id="choice4" name="choice" value="water">
          <label for="choice4">Water-heat</label>

          <div id="flap1"><span class="content">proactive</span></div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
      :root {
      --accent: #2bda04;
      --border-width: 6px;
      --border-radius: 55px;
      --font-size: 30px;
  }





  .containerr {
      perspective: 800px;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20;
      font-family: sans-serif;
  }

  .toggle {
      position: relative;
      border: solid var(--border-width) var(--accent);
      border-radius: var(--border-radius);
      transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;
      transform-style: preserve-3d;
      perspective: 800px;
  }

  .toggle>input[type="radio"] {
      display: none;
  }

  .toggle>#choice1:checked~#flap {
      transform: rotateY(-180deg);
  }

  .toggle>#choice1:checked~#flap>.content {
      transform: rotateY(-180deg);
  }

  .toggle>#choice2:checked~#flap {
      transform: rotateY(0deg);
  }

  .toggle>label {
      display: inline-block;
      min-width: 70px;
      padding: 5px;
      font-size: var(--font-size);
      text-align: center;
      color: var(--accent);
      cursor: pointer;
  }

  .toggle>label,
  .toggle>#flap {
      font-weight: bold;
      text-transform: capitalize;
  }

  .toggle>#flap {
      position: absolute;
      top: calc( 0px - var(--border-width));
      left: 50%;
      height: calc(100% + var(--border-width) * 2);
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size);
      background-color: var(--accent);
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      transform-style: preserve-3d;
      transform-origin: left;
      transition: transform cubic-bezier(0.4, 0, 0.2, 1) .5s;
  }

  .toggle>#flap>.content {
      color: #333;
      transition: transform 0s linear .25s;
      transform-style: preserve-3d;
  }



   .toggle1 {
      position: relative;
      border: solid var(--border-width) var(--accent);
      border-radius: var(--border-radius);
      transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;
      transform-style: preserve-3d;
      perspective: 800px;
  }

  .toggle1>input[type="radio"] {
      display: none;
  }

  .toggle1>#choice3:checked~#flap1 {
      transform: rotateY(-180deg);
  }

  .toggle1>#choice3:checked~#flap1>.content {
      transform: rotateY(-180deg);
  }

  .toggle1>#choice4:checked~#flap1 {
      transform: rotateY(0deg);
  }

  .toggle1>label {
      display: inline-block;
      min-width: 70px;
      padding: 5px;
      font-size: var(--font-size);
      text-align: center;
      color: var(--accent);
      cursor: pointer;
  }

  .toggle1>label,
  .toggle1>#flap1 {
      font-weight: bold;
      text-transform: capitalize;
  }

  .toggle1>#flap1 {
      position: absolute;
      top: calc( 0px - var(--border-width));
      left: 50%;
      height: calc(100% + var(--border-width) * 2);
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size);
      background-color: var(--accent);
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      transform-style: preserve-3d;
      transform-origin: left;
      transition: transform cubic-bezier(0.4, 0, 0.2, 1) .5s;
  }

  .toggle1>#flap1>.content {
      color: #333;
      transition: transform 0s linear .25s;
      transform-style: preserve-3d;
  }
</style>

<script>
      const st = {};

  st.flap = document.querySelector('#flap');
  st.toggle = document.querySelector('.toggle');
  st.flap1 = document.querySelector('#flap1');
  st.toggle1 = document.querySelector('.toggle1');

  st.choice1 = document.querySelector('#choice1');
  st.choice2 = document.querySelector('#choice2');
   st.choice3 = document.querySelector('#choice3');
  st.choice4 = document.querySelector('#choice4');

  st.flap.addEventListener('transitionend', () => {

      if (st.choice1.checked) {
          st.toggle.style.transform = 'rotateY(-15deg)';
          setTimeout(() => st.toggle.style.transform = '', 400);
          var x = document.getElementById("e10cfa33-75a1-4ed0-8884-64e9b35daf86") ;

      } else {
          st.toggle.style.transform = 'rotateY(15deg)';
          setTimeout(() => st.toggle.style.transform = '', 400);
          var x = document.getElementById("e10cfa33-75a1-4ed0-8884-64e9b35daf86") ;


      }

  })

  st.clickHandler = (e) => {

      if (e.target.id === 'choice1'  ){
          setTimeout(() => { console.log("lllllllllllllllllllllllllllllll");
              st.flap.children[0].textContent = e.target.value;
          }, 250);
      }else if (e.target.id === 'choice2'  ){
          setTimeout(() => { console.log("lllllllllllllllllllllllllllllll");
              st.flap.children[0].textContent = e.target.value;
          }, 250);
      } else if (e.target.id === 'choice3'  ){
          setTimeout(() => { console.log("lllllllllllllllllllllllllllllll");
              st.flap.children[0].textContent = e.target.value;
          }, 250);
      }else if (e.target.id === 'choice4'  ){
          setTimeout(() => { console.log("lllllllllllllllllllllllllllllll");
              st.flap.children[0].textContent = e.target.value;
          }, 250);
      }
  }


  document.addEventListener('DOMContentLoaded', () => {
          st.flap1.children[0].textContent = st.choice4.nextElementSibling.textContent;
      st.flap.children[0].textContent = st.choice2.nextElementSibling.textContent;

  });

  document.addEventListener('click', (e) => st.clickHandler(e));
  ////////////////////////////////////////
   st.flap1.addEventListener('transitionend', () => {

      if (st.choice3.checked) {
          st.toggle1.style.transform = 'rotateY(-15deg)';
          setTimeout(() => st.toggle1.style.transform = '', 400);
          var x = document.getElementById("e10cfa33-75a1-4ed0-8l884-64e9b35daf86") ;

      } else {
          st.toggle1.style.transform = 'rotateY(15deg)';
          setTimeout(() => st.toggle1.style.transform = '', 400);
          var x = document.getElementById("e10cfa33-75a1-4ed0-8n884-64e9b35daf86") ;


      }

  })
</script>
