<!--FAQ -->
<div class="container">
  <div class="row">
    <div id="content" class="col-sm-12">
      <section class="cd-faq">

        <div class="cd-faq-items">
          <ul id="" class="cd-faq-group">
            <li class="cd-faq-title"><h2>- {{ section.settings.Title }}</h2></li>
            {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
            <li>
                   {% comment %}
              <a class="cd-faq-trigger" href="#0">{{ block.settings.question }}</a>
              {% endcomment %}
               <p class="faq_question" >{{ block.settings.question }}</p>
              <div class="cd-faq-content">
                <p>{{ block.settings.answer }}</p>
              </div> <!-- cd-faq-content -->
            </li>
            {% endfor %}
            {% endif %}
          </ul> <!-- cd-faq-group -->

        </div> <!-- cd-faq-items -->
      </section> <!-- cd-faq -->

    </div>
  </div>
</div>
<!--End of FAQ Area-->
{% schema %}
{
   "name": "FAQ Page",
   "settings": [
     {
       "type":"text",
       "id":"Title",
       "label":"title"
     },
      {
        "type": "paragraph",
        "content": "[Video Guide](https://youtu.be/K2nxwuiLtdg?list=PLvJCnPMUAdwr6XxWVo_f9dkVRh8GNCXoa)"
      },
	  {
        "type": "paragraph",
        "content": "Add blocks for representing each FAQ"
      }
    ],
   "blocks": [
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "info": "Question to be asnwered!",
		  "default": "How do i signup?"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer to the Question",
		  "default": "<p> Default answer</p>"
		}
      ]
    }
  ],
   "presets": [
     {
       "name":"Faq Section"
     }
   ]
}
{% endschema %}