<div class="container" >
  <div class="constyle2le1">
  
     <div data-v-e6ef43fc="" class="st2_1tem pcst2_1tem">
      <div data-v-129dd9bd="" data-v-e6ef43fc="" class="imgbox">
        <!---->
        <img
          data-v-129dd9bd=""
          title=""
          class="imgico imgico2 pcimgico2"
          data-psize='{"w":15,"h":32}'
          data-src="https://static.eznetonline.com//webquick/public/assets/tel.png"
          src="https://static.eznetonline.com//webquick/public/assets/tel.png"
          lazy="loaded"
        />
        <!---->
      </div>
      <div
        data-v-e6ef43fc=""
        class="Jso-Text"
        data-top="layer8CF148DFBE97EF2DC5DFA105EC018B93"
        style="display: inline-block;"
      >
        <p><span style="color: #008117;">Tel: +31 – 85 – 7738870</span></p>
      </div>
    </div>
  
    
     <div data-v-e6ef43fc="" class="st2_1tem pcst2_1tem">
      <div data-v-129dd9bd="" data-v-e6ef43fc="" class="imgbox">
        <!---->
        <img
          data-v-129dd9bd=""
          title=""
          class="imgico imgico2 pcimgico2"
          data-psize='{"w":15,"h":32}'
          data-src="https://static.eznetonline.com//webquick/public/assets/tel.png"
          src="https://static.eznetonline.com//webquick/public/assets/tel.png"
          lazy="loaded"
        />
        <!---->
      </div>
      <div
        data-v-e6ef43fc=""
        class="Jso-Text"
        data-top="layer8CF148DFBE97EF2DC5DFA105EC018B93"
        style="display: inline-block;"
      >
        <p><span style="color: #008117;">Tel: +31 – 85 – 7738870</span></p>
      </div>
    </div>
  
  </div>
</div>
{% schema %}
  {
    "name": "Icon With text",
    "settings": [],
    "presets":[
      {
        "name":"Icon With text"
      }
    ]
  }
{% endschema %}

<style>
  .constyle2le1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.imgico {
    min-width: 15px;
    min-height: 15px;
    width: 25px;
    height: auto;
}
  .st2_1tem.pcst2_1tem {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
  .Jso-Text {
    font-size: 1.6rem;
}
</style>