<div class="container" >
  <div class="constyle2le1">
    <div class="st2_1tem pcst2_1tem">
     <div data-v-e6ef43fc="" class="st2_1tem pcst2_1tem">
      <div data-v-129dd9bd="" data-v-e6ef43fc="" class="imgbox">
        <!---->
        <img
          data-v-129dd9bd=""
          title=""
          class="imgico imgico2 pcimgico2"
          data-psize='{"w":15,"h":32}'
          data-src="https://static.eznetonline.com//webquick/public/assets/tel.png"
          src="https://static.eznetonline.com//webquick/public/assets/tel.png"
          lazy="loaded"
        />
        <!---->
      </div>
      <div
        data-v-e6ef43fc=""
        class="Jso-Text"
        data-top="layer8CF148DFBE97EF2DC5DFA105EC018B93"
        style="display: inline-block;"
      >
        <p><span style="color: #008117;">Tel: +31 – 85 – 7738870</span></p>
      </div>
    </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Icon With text",
    "settings": [],
    "presets":[
      {
        "name":"Icon With text"
      }
    ]
  }
{% endschema %}

<style>
  .constyle2le1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
  .contact2-div .pcst2_1tem {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.contact2-div .pcimgico2 {
  margin-right: 0 !important;
  margin-bottom: 7px !important;
}
@media screen and (max-width: 700px) {
  .contact2-div .st2_1tem {
    border-bottom: 1px solid #f5f5f5;
    width: 94% !important;
    padding-bottom: 10px !important;
  }
  .contact2-div .imgico2 {
    margin-right: 7px !important;
  }
}
.contact2-div .imgico {
  height: 25px;
  width: auto;
}
.st2_1tem[data-v-e6ef43fc] {
  margin: 8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

</style>