<div data-v-3f5bad52="" id="layerED6854433301648AE6AF2BA7864CC971" data-role="video5" class="cstlayer" style="background-color: rgb(255, 255, 255);">
  <div data-v-3f5bad52="" class="bgoverlay">
    <!---->
  </div>
  <div data-v-434c247c="" data-v-3f5bad52="" class="Video5 Video5_padding_t_b" style="padding: 90px 0px;">
    <div data-v-434c247c="" class="container containerM" style="--btnbghcolor:#008AFF; --btnhcolor:#fff; --showspliter:0; --titlebcolor:#008AFF;">
      <div data-v-434c247c="" class="Video5_content-wrapper">
        <div data-v-434c247c="" class="row align-items-center">
          <div data-v-434c247c="" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div data-v-434c247c="" class="at__left mb-30">
              <div data-v-434c247c="" class="at__big-img">
                <div data-v-129dd9bd="" data-v-434c247c="" class="imgbox">
                  <img data-v-129dd9bd="" title="" class="at__big-img_size2" src="{{ section.settings.Image-left | img_url: 'master' }}" lazy="loaded">
                </div>
              </div>
              <div data-v-434c247c="" class="at__smll-img">
                <img data-v-434c247c="" src="http://jsob20d3288.pic2.eznetonline.com/upload/hoolia-video.png?_t=318820?_t=318820?_t=318820?_t=318820?_t=318820?_t=318820" alt="" class="at__big-img_size1">
                <a data-v-434c247c="" class="video__icon">
                  <img data-v-434c247c="" src="{{ section.settings.Video-Image | img_url: 'master'}}"  class="video5_play">
                </a>
              </div>
            </div>
          </div>
          <div data-v-434c247c="" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div data-v-434c247c="" class="mt-25">
              <div data-v-434c247c="" class="sec__title">
                <span data-v-434c247c="" class="Jso-L-Title" data-top="layerED6854433301648AE6AF2BA7864CC971" style="margin-bottom: 10px;">
                  <span style="color: #42db44;">
                    <strong>Welcome to Hoolia Energy</strong>
                  </span>
                </span>
                <div data-v-434c247c="" class="video5_bigtile Jso-M-Title" data-top="layerED6854433301648AE6AF2BA7864CC971" style="margin-bottom: 20px;">
                  <p>
                    <strong>Revolutionizing the industry with its "Distributed DataCenter" based on 100% renewable energy!</strong>
                  </p>
                </div>
                <div data-v-434c247c="" class="divp Jso-S-Title" data-top="layerED6854433301648AE6AF2BA7864CC971">
                  <p>With our deepest belief in the concept of circular economy, we have generated a brilliant idea: <br>Repurpose waste heat from DataCenters to heat Office Buildings, by bringing small “DataCenter modules” running on 100% pure Green Renewable &amp; Recycled Energy! </p>
                  <p>&nbsp;</p>
                  <p>Ending the cycle of Big Centralized DataCenter. It is time to create micro-grid communities and give power back to the people.</p>
                  <p>&nbsp;</p>
                  <p>Watch this video for more information.</p>
                </div>
              </div>
              <div data-v-434c247c="" style="display: flex; justify-content: left;">
                <!---->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-v-434c247c="" class="video5_bgopacity"></div>
      <div data-v-434c247c="" class="video5close"></div>
      <video data-v-434c247c="" id="videojs-1675679602869" controls="controls" controlslist="nodownload" preload="auto" class="video5control">
        <source data-v-434c247c="" src="http://static.eznetonline.com//webquick/public/videojs/def.mp4" type="video/mp4">
        <p data-v-434c247c="" class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser.</p>
      </video>
    </div>
  </div>
  <!---->
  <!---->
</div>
{% schema %}
  {
    "name": "image with text",
    "settings": [
      {
      "type":"image_picker",
        "id":"Image-left",
      "label":"Image"
      },
        {
      "type":"image_picker",
        "id":"Video-Image",
      "label":"Video Image"
      },
      {
        "type":"text",
        "id":"heading",
        "label":"Heading"
      },
       {
        "type":"text",
        "id":"sub-heading",
        "label":"Sub Heading"
      },
       {
        "type":"richtext",
        "id":"content",
        "label":"Heading"
      }
    ],
    "presets":[
      {
      "name":"image with text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}