<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <style>
        body {
  background-color: #eee;
  font-family: sans-serif;
  height: 100%;
}

.parent {
  background-color: white;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  width: 50%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0px;
  cursor: pointer;
}

.back-button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0px;
  cursor: pointer;
  display: none;
}

h1 {
  margin-top: 0px;
}

    </style>
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" href="style.css">
<!-- jQuery first then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
<header class="hero-text">
  <div class="hero" data-arrows="true" data-autoplay="true">
    <!--.hero-slide-->
  
    <div class="hero-slide">
         <img alt="Mars Image" class="img-responsive cover" src="https://raw.githubusercontent.com/solodev/text-animations-slick-slider/master/images/rocket.jpg">
         <div class="header-content text-white position-absolute slide-content col-lg-4">
            <h1 class="mb-4">Be part of the <span class="d-block font-weight-bold">Lunar XPerience</span></h1>  
            <a class="btn btn-primary btn-lg w-max mt-2" href="#" tabindex="0">Tour Our Ships</a>
         </div>
    </div>
    <!--.hero-slide-->
  
    <div class="hero-slide">
          <img alt="Mars Image" class="img-responsive cover" src="https://raw.githubusercontent.com/solodev/text-animations-slick-slider/master/images/mars-mission.jpg">
          <div class="header-content text-white position-absolute slide-content col-lg-4">
                <h1 class="mb-4">LunarXP Voted Best Mars Mission</h1>  
                <p class="font-weight-bold">Inc. magazine today ranked LunarXP as the fastest growing company in the Mars Mission category.</p>
                <a class="btn btn-primary btn-lg w-max mt-2" href="#" tabindex="0">Read More</a>
             </div>
    </div>
    <!--.hero-slide-->
  
    <div class="hero-slide">
          <img alt="Mars Image" class="img-responsive cover" src="https://raw.githubusercontent.com/solodev/text-animations-slick-slider/master/images/cosmos.jpg">
          <div class="header-content text-white position-absolute slide-content col-lg-4">
                <p>Our fleet of advanced spacecraft have revolutionized the lunar economy and provided safe travel for thousands of scientists, engineers, technicians, medical staff and civilians. These amazing vessels are also paving the way for reaching Mars in the next decade.</p>  
        <a class="btn btn-primary btn-lg w-max mt-2" href="#" tabindex="0">Read More</a>
      </div>
    </div>
  </div><!--.hero-->
  </header>

</body>
</html>
<script>
  jQuery(document).ready(function ($) {
    $('.hero').slick({
    dots: true,
        infinite: true,
        speed: 500,
        fade: !0,
        cssEase: 'linear',
    slidesToShow: 1,
    slidesToScroll: 1,
        autoplay: true,
    autoplaySpeed: 8000,
        draggable: false,
    arrows: false,
    responsive: [
      {
    breakpoint: 1024,
    settings: {
    slidesToShow: 1,
    slidesToScroll: 1,
        infinite: true
              }
        },
        {
    breakpoint: 768,
    settings: {
        draggable: true,
              }
    },
    {
    breakpoint: 600,
    settings: {
        slidesToShow: 1,
        draggable: true,
    slidesToScroll: 1
            }
    },
    {
    breakpoint: 480,
    settings: {
        slidesToShow: 1,
        draggable: true,
    slidesToScroll: 1
              }
    }
  
            ]
                  });
        });
</script>
<style>
  header {
  overflow: hidden;
}

.hero-text h2 {
  margin-bottom: 50px;
}

.hero-text .hero {
  position: relative;
}

.hero-text .hero .hero-slide a:hover span {
  color: #033a71;
}

.hero .hero-slide img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: top center;
}

.hero .hero-slide .header-content {
  top: 20%;
  margin-left: 8rem;
  max-width: 550px;
  width: 100%;
  padding: 2rem;
}

.slide-content {
  padding: 10px 20px 10px 0;
}

.slide-content .h1 {
  font-size: 62px;
}

.btn-primary {
  background-color: #5302FE;
  border-radius: 0;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  outline: none;
}

.slick-dots li button::before {
  font-size: 18px;
  color: #fff;
  opacity: 1;
}

.slick-active button {
  background: #d60e96;
}


/* Media Queries */

@media (max-width: 768px) {
  .hero-text .hero .hero-slide a {
    padding-top: 0.8rem;
  }

  .hero-text .hero .hero-slide a span {
    font-size: 20px;
    margin-top: 0.5rem;
  }

  .hero .hero-slide .header-content {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
  }
}


</style>

{% schema %}
{
  "name": "Sliders",
  "class": "index-section slider",
  "max_blocks": 7,
  "settings": [
    {
      "type": "select",
      "id": "autoplay_speed",
      "label": "Change slides every",
      "options": [
        { "value": "5000", "label": "5 seconds" },
        { "value": "6000", "label": "6 seconds" },
        { "value": "7000", "label": "7 seconds" },
        { "value": "8000", "label": "8 seconds" },
        { "value": "9000", "label": "9 seconds" },
        { "value": "10000", "label": "10 seconds" }
      ],
      "default": "10000"
    },
	{
        "type": "select",
        "id": "layout_slider",
        "label": "Select page slider",
        "options": [
              {
                "value": "slider-1",
                "label": "Slider 1"
              },
			  {
                "value": "slider-2",
                "label": "Slider 2"
              }
            ]	
        },
		{
          "type": "checkbox",
          "id": "fullwidth",
          "label": "Fullwidth",
          "default": true
        },
        {
           "type":"checkbox",
           "id":"use_box_layout",
           "label":"Use Box Layout?",
           "default":false
        },
		{
          "type": "checkbox",
          "id": "fit_to_container",
          "label": "Fit Text to Container",
          "default": false,
		  "info": "Text doesn't stretch on high resolution screens"
        },
		{
          "type": "checkbox",
          "id": "full_size_on_mobile",
          "label": "Show Full Image on Mobile",
          "default": false,
		  "info": "By default images are cropped from sides in order to show bigger slideshow image on mobile layout"
        }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1920x900px used on demo stores"
        },
		{
        "type": "select",
        "id": "animation_style",
        "label": "Select page slider",
        "options": [
              {
              "value": "none",
              "label": "None"
              },
              {
              "value": "slider-1",
              "label": "Style 1"
              },
              {
              "value": "slider-2",
              "label": "Style 2"
              },
              {
              "value": "slider-3",
              "label": "Style 3"
              }
            ],
        "default": "slider-1"	
        },
		{
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
		{
          "type": "text",
          "id": "heading_size",
          "label": "Font size",
		  "default": "18px"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
		{
          "type": "text",
          "id": "subheading_size",
          "label": "Font size",
		  "default": "90px"
        },
        {
          "type": "color",
          "id": "subheading_color",
          "label": "Subheading Color",
          "default": "#fff"
        },		
		{
          "type": "textarea",
          "id": "description",
          "label": "Slide Description",
          "info": "Used in slider 1"
        },
		{
          "type": "text",
          "id": "description_size",
          "label": "Font size",
		  "default": "16px"
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description Color",
          "default": "#fff"
        },
		{
          "type": "text",
          "id": "slide_link_text",
          "label": "Link Text"
        },
        {
          "type": "url",
          "id": "slide_link",
          "label": "Link URL"
        },
		{
          "type": "color",
          "id": "link_bg",
          "label": "Link Button Background",
		  "default": "#000"
        },
        {
          "type": "color",
          "id": "link_color",
          "label": "Link Color",
          "default": "#fff"
        },
        {
          "type": "checkbox",
          "id": "image_clickable",
          "label": "Make background image clickable",
          "default": false,
          "info": "Button hover effect won't work in this case"
        },
        {
          "type": "header",
          "content": "Text Position Settings"
        },
        {
          "type": "text",
          "id": "top",
          "label": "Top",
		  "default": "50%"
        },
        {
          "type": "text",
          "id": "right",
          "label": "right",
		  "default": "0%"
        },
        {
          "type": "text",
          "id": "left",
          "label": "Left",
		  "default": "0%"
        },
        {
          "type": "text",
          "id": "width",
          "label": "Width",
		  "default": "100%"
        },
		{
        "type": "select",
        "id": "float",
        "label": "float",
        "options": [
              {
              "value": "none",
              "label": "None"
              },
              {
              "value": "left",
              "label": "left"
              },
              {
              "value": "center",
              "label": "center"
              },
              {
              "value": "right",
              "label": "right"
              }
            ],
        "default": "left"	
        }
      ]
    },
	{
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Image must be added for size detection. 1920x960px recommended for preload image"
        },
		{
        "type": "select",
        "id": "video_type",
        "label": "Select video type",
        "options": [
              {
              "value": "youtube",
              "label": "Youtube"
              },
              {
              "value": "vimeo",
              "label": "Vimeo"
              },
              {
              "value": "mp4",
              "label": "Mp4"
              }
            ],
        "default": "youtube"	
        },
		{
          "type": "text",
          "id": "video_src",
          "label": "Video Src",
		  "default": "bLwl0gRbyrk",
		  "info": "Add src id for youtube/vimeo and full link for video file"
        },
		{
          "type": "checkbox",
          "id": "video_autoplay",
          "label": "Autoplay",
          "default": true
        }
      ]
    }
  ],
  "presets": [{
    "name": "Sliders",
    "category": "Image",
    "settings": {
      "autoplay_speed": "5000"
    },
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}