<div data-v-3f5bad52="" id="layer356F8356B3FBE17294C0259809D849D6" data-role="timeline4" class="cstlayer" style="background-color: rgb(17, 171, 19);">
  <!---->
  <section data-v-3f5bad52="" class="timeline4 time05 padA timeline4-div plug-padding-tb" style="padding: 100px 0px;">
    <div class="container containerM">
      <div class="row">
        <div class="col-md-12">
          <div class="main-timeline">
            <div class="timeline">
              <a href="#" class="timeline-content">
                <div class="timeline-year">
                  <div class="Jso-M-Title" data-top="layer356F8356B3FBE17294C0259809D849D6">
                    <p>
                      <span style="color: #42db43;">We</span>
                    </p>
                  </div>
                </div>
                <div class="timeline-icon" style="background-color: rgb(241, 241, 241);">
                  <div data-v-129dd9bd="" class="imgbox">
                    <!---->
                    <img data-v-129dd9bd="" title="" class="" data-psize="{&quot;w&quot;:40,&quot;h&quot;:40}" data-src="http://jsob20d3288.pic2.eznetonline.com/upload/project-management.png?_t=310627?_t=310627?_t=310627?_t=310627?_t=310627?_t=310627?_t=310627" src="http://jsob20d3288.pic2.eznetonline.com/upload/project-management.png?_t=310627?_t=310627?_t=310627?_t=310627?_t=310627?_t=310627?_t=310627" lazy="loaded">
                    <!---->
                  </div>
                </div>
                <div class="title Jso-S-Title" data-top="layer356F8356B3FBE17294C0259809D849D6">
                  <p style="text-align: left;">
                    <span style="color: #f8f8f8;">Task&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #434343;">
                        <strong>
                          <span style="font-size: 1.4rem;">Day 02</span>
                        </strong>
                      </span>
                    </span>
                  </p>
                </div>
                <div class="description Jso-M-Title" data-top="layer356F8356B3FBE17294C0259809D849D6">
                  <p>
                    <strong>
                      <span style="color: #f8f8f8;">Manage the project</span>
                    </strong>
                  </p>
                </div>
              </a>
            </div>
          
            

          </div>
        </div>
      </div>
    </div>
  </section>
  <!---->
  <!---->
</div>
{% schema %}
  {
    "name": "Time line List",
    "settings": [],
      "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
        {
          "type":"text",
          "id":"Title",
          "label":"title"
        },
       {
          "type":"text",
          "id":"task",
          "label":"Task"
        }
       ]
     }
   ],
    
     "presets":[
      {
        "name":"Time line List"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}