<div class="header_top_nav_menu">
  <ul class="menu_ul">
    <!--[1]-->
    <li class="menu_li_first" onclick="location.href='https://www.rumaliving.com.au/'">
      <a href="javascript:void(0)">FURNITURE</a>
    </li>
    <!--[1]-->
    <!--[2]-->
    <li class="menu_li_second" onclick="location.href='/pages/outdoor'">
      <a href="javascript:void(0)">OUTDOOR</a>
    </li>
    <!--[2]-->
    <!--[3]-->
    <li class="menu_li_third" onclick="location.href='/pages/renovations'">
      <a href="javascript:void(0)">BABY &amp; KIDS</a>
    </li>
    <!--[3]-->
    <!--[4]-->
    <li class="menu_li_four" onclick="location.href='/pages/pets'">
      <a href="javascript:void(0)">PET</a>
    </li>
    <!--[4]-->
  </ul>
</div>
{% schema %}
  {
    "name": "top-menu",
    "settings": [],
    "presets":[
      {
        "name":"top-menu"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}