<div class="header_top_nav_menu">
  <ul class="menu_ul">
    <!--[1]-->
    <li class="menu_li_first" href="#">
      <a href="javascript:void(0)">FURNITURE</a>
    </li>
    <!--[1]-->
    <!--[2]-->
    <li class="menu_li_second" href="#">
      <a href="javascript:void(0)">OUTDOOR</a>
    </li>
    <!--[2]-->
    <!--[3]-->
    <li class="menu_li_third" href="#">
      <a href="javascript:void(0)">BABY &amp; KIDS</a>
    </li>
    <!--[3]-->
    <!--[4]-->
    <li class="menu_li_four" href="">
      <a href="javascript:void(0)">PET</a>
    </li>
    <!--[4]-->
  </ul>
</div>
{% schema %}
  {
    "name": "top-menu",
    "settings": [
      
    ],
    "presets":[
      {
        "name":"top-menu"
      }
    ]
  }
{% endschema %}
<style>
  
.header_top_nav_menu .menu_ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  margin: 0;
}
.header_top_nav_menu .menu_ul li {
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
}
.header_top_nav_menu .menu_ul li:hover {
  cursor: pointer;
}
.header_top_nav_menu .menu_ul:hover a {
  text-decoration: none;
}
.header_top_nav_menu .menu_ul .menu_li_first {
  background-color: #ffffff;
}
.header_top_nav_menu .menu_ul .menu_li_second {
  background-color: #000000;
}
.header_top_nav_menu .menu_ul .menu_li_third {
  background-color: #bbcae3;
}
.header_top_nav_menu .menu_ul .menu_li_four {
  background-color: #bbe3db;
}
.header_top_nav_menu .menu_ul .menu_li_first a {
  color: #000000 !important;
}
.header_top_nav_menu .menu_ul .menu_li_second a {
  color: #ffffff !important;
}
.header_top_nav_menu .menu_ul .menu_li_third a {
  color: #ffffff !important;
}
.header_top_nav_menu .menu_ul .menu_li_four a {
  color: #ffffff !important;
}
@media only screen and (max-width: 768px) {
  .header_top_nav_menu .menu_ul li {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 45px;
    padding: 0;
    margin: 0;
  }
}

</style>