.cloud-zoom-lens {border: 3px solid #888;margin: 0px;background-color:#fff;cursor:move;}
.cloud-zoom-title {font-family:Arial, Helvetica, sans-serif;position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0px;}
.cloud-zoom-big {/* border: 1px solid #e5e5e5; */overflow:hidden;border-radius: 30px;}
.cloud-zoom-loading {color:white;background:#222;padding:3px;border:1px solid #000;}