
/*============================================================================
Get font-families from theme settings
==============================================================================*/







.layernavigation-module {
  clear: left;
  margin-bottom: 30px;
}
.layernavigation-module .panel{
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: none;
}
.layered-navigation-block { display: none; background-color : black; height : 100%; opacity : 0.35; position : fixed; top : 0; left: 0; width : 100%; z-index : 900; }
.ajax-loader { display: none; z-index: 1000; position: fixed; top: 50%; left: 50%; }
.layernavigation-module .layered-heading {display:none;color: #f8f8f8;text-transform: capitalize;font-size: 24px;background: none;border-radius: 0;box-shadow: none;margin-bottom: 30px;padding: 0;border: 0;font-weight: 500;}
.filter-attribute-container {
  margin-bottom: 22px;
  overflow: hidden;
}
.filter-attribute-container label {display: block;margin-bottom: 17px;font-size: 22px;color: #f8f8f8;font-weight: 500;text-transform: capitalize;}
.filter-attribute-container:last-child { margin-bottom:0; }
.filter-attribute-container .remove-filter {color: red;position: absolute;right: 0;top: 50%;margin-top: -10px;font-size: 0;width: 20px;height: 20px;text-align: center;padding: 0;border: 0;}
.filter-attribute-container .remove-filter i {line-height: inherit;}
.filter-attribute-container .remove-filter:hover {opacity: 0.7;border: 0;}
.filter-attribute-container .filter-clear-all { text-align: right; }
.filter-attribute-container .filter-clear-all .clear-filter {color: #333;padding: 0 15px;display: inline-block;vertical-align: top;text-transform: capitalize;font-weight: 500;border-radius: 2px;}
.filter-attribute-container .filter-clear-all .clear-filter:hover {color: #9d4d4a;}
.filter-attribute-container .list-group-item {position: relative;border: 0;padding: 0;margin: 0;background: 0;border-radius: 0;}
.filter-attribute-container .list-group-item p {margin: 0;line-height: 30px;}
.filter-attribute-container .list-group-item .filter-price .input-price {width: 50px;margin: 0;border: none;background: none;}
.filter-attribute-container .list-group-item .filter-price .input-price:hover { cursor: not-allowed; }
.list-group .filter-attribute-container a.add-filter {border: 0;display: block;line-height: 30px;padding: 5px 0;font-size: 14px;color: #7e7e7e;text-transform: capitalize;}
.list-group .filter-attribute-container a.add-filter:before {
  content:"\f00c";
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  width: 16px;
  height: 16px;
  line-height: 14px;
  border: 1px solid #e5e5e5;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  color: transparent;
  border-radius: 3px;
  background: #fff;
}
.list-group .filter-attribute-container a.add-filter:hover {
  color: #a8741a;
}
.list-group .filter-attribute-container a.add-filter:hover:before,
.list-group .filter-attribute-container a.add-filter.active:before 
{
  color: #fff;
  background: #a8741a;
  border-color: #a8741a;
}
.filter-attribute-remove-container {
  background: none;
  padding: 0;
  margin: 0;
}
.filter-attribute-remove-container .filter-clear-all {
  margin-bottom: 40px;
  margin-top: 10px;
}
.filter-attribute-container.filter-price {
}
.filter-attribute-container.filter-price .filter-price {
}
#slider-price {
  height: 4px;
  background: #e5e5e5;
  border-radius: 4px;
  margin: 17px 0px 0px;
  position: relative;
}
#slider-price .ui-widget-header {
  background: #a8741a;
  height: 100%;
  border-radius: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.ui-slider .ui-slider-handle {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: -7px;
  cursor: pointer;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.12);
}
.ui-slider .ui-slider-handle:last-child {
  margin-left: -18px;
}
.ui-slider .ui-slider-handle:hover {
  background: #a8741a;
}
.filter-price .slider-values {
  padding: 5px 0;
  text-align: left;
  font-size: 13px;
  margin-top: 29px;
  color: #7e7e7e;
}
.filter-price .slider-values em {
  margin-right: 25px;
}