<div class="container">
  <div class="row">
    <div id="content" class="col-sm-12">
      <div class="rte">
        {{ shop.refund_policy }}
        {{ page.content }}
      </div>
    </div>
  </div>
</div>